/* Utilities available everywhere */
@import "utilities/variables.scss",
        "utilities/functions.scss",
        "utilities/size-utilities.scss",
        "utilities/colors.scss",
        "utilities/flex.scss";

/* Specific components */
@import "components/header.scss";

table.small {
  font-size: 0.75rem;
}

th {
  position: sticky;
  top: 0;
  white-space: nowrap;
}

@media (min-width: breakpoint(md)) {
  th {
    top: $header-height;
  }
}

.filter-form {
  label {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
}

.live-highlight {
  animation: bg-highlight 60s normal;
  animation-iteration-count: 1;
  /*
  td:last-child {
    animation: font-highlight 60s normal;
    animation-iteration-count: 1;
  }
  */
}

@keyframes bg-highlight {
  0% { background-color: $color-yellow-200; }
  25% { background-color: $color-yellow-200; }
  100% { background-color: auto; }
}

@keyframes font-highlight {
  0% { font-weight: 900; }
  25% { font-weight: 900; }
  100% { font-weight: auto; }
}